<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Query Chain Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="../bower_components/nvd3/nv.d3.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/grayscale.css">-->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style type="text/css">
        .row {
            margin-top:5px;
            margin-bottom:5px;
        }
    </style>

</head>
<body>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/vue/dist/vue.js"></script>
<script src="../bower_components/nvd3/nv.d3.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/rickshaw/rickshaw.js"></script>
<script src="../bower_components/rickshaw/vendor/d3.v3.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="../bower_components/momentjs/moment.js"></script>
<script src="../bower_components/vis/dist/vis.min.js"></script>
<script src="../bower_components/jshashes/hashes.min.js"></script>



<div class="container">
    <div id="norichain">
        <h1>{{title | uppercase}}</h1>
        <div class="row">
            <div class="col-md-12" id="api-param" role="form">
                <div class="col-md-4">
                    <label style="float:left;margin-right:4px;">host</label>
                    <input id="host" class="form-control" style="float:left;width:190px;" placeholder="localhost (default)" v-model="host">
                    <label style="float:left;margin-left:3px;margin-right:3px;">:</label>
                    <input id="port" class="form-control" style="float:left;width:70px;" placeholder="26578 (default)" v-model="port">
                </div>
                <div class="col-md-5">
                    <button type="button" id="fetch" class="btn">fetch</button>
                    <button type="button" id="merge" class="btn">merge</button>
                    <button type="button" id="commit" class="btn">commit</button>
                    <!--<button type="button" id="push" class="btn disabled">push</button>-->
                    <button type="button" id="push-force" class="btn">push -f</button>
                    <button type="button" id="export" class="btn">export</button>
                    <button type="button" id="import" class="btn">import</button>
                </div>
                <div class="col-md-2" >
                    <input type="file" id="import-file" name="import-file">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2" >
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Server</td>
                        <td>{{serverHash}}</td>
                    </tr>
                    <tr>
                        <td>EditOrigin</td>
                        <td>{{editOriginHash}}</td>
                    </tr>
                    <tr>
                        <td>Local</td>
                        <td>{{localHash}}</td>
                    </tr>
                    <tr>
                        <td>LastCommit</td>
                        <td>{{committedHash}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">
                <div><button type="button" id="reset-server" class="btn reset-btn">reset</button></div>
                <div><button type="button" id="reset-edit-origin" class="btn reset-btn">reset</button></div>
                <div><button type="button" id="reset-local" class="btn reset-btn">reset</button></div>
                <div><button type="button" id="reset-committed" class="btn reset-btn">reset</button></div>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:150px;">time</th>
                        <th style="width:50px;">type</th>
                        <th>message</th>
                    </tr>
                    <tr v-repeat="log : logs | tail 3" class="logs">
                        <td>{{log.time}}</td>
                        <td>{{log.type}}</td>
                        <td>{{log.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <div id="query-chain" style="background: rgba(0,0,0,0.4);">
                </div>
            </div>
        </div>
        <div id="editor" style="display:none;">
            <div class="row">
                <div class="col-md-7" >
                    <div id="query">
                        <label for="query">Query</label>
                        <textarea name="epl-expression" id="expression" class="form-control" rows="10" v-model="expression">{{expression}}</textarea>
                    </div>
                </div>
                <div class="col-md-5" >
                    <div>
                        <label for="queryname">Name</label>
                        <input class="form-control" id="queryname" v-model="queryName">
                    </div>
                    <div>
                        <label for="querygroup">Group</label>
                        <input class="form-control" id="querygroup" v-model="queryGroup">
                    </div>
                    <div>
                        <button type="button" id="apply" class="btn">apply</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Diff</h1>
        <div id="diff" class="row">
            <div class="col-md-12">
                <select v-model="selectedQuery1">
                    <option>Server</option>
                    <option>Edit Origin</option>
                    <option>Local</option>
                    <option>Last Committed</option>
                </select>
                >
                <!--{{selectedQuery1}}-->
                <select v-model="selectedQuery2">
                    <option>Server</option>
                    <option>Edit Origin</option>
                    <option>Local</option>
                    <option>Last Committed</option>
                </select>
                <!--{{selectedQuery2}}-->
                <button type="button" class="btn" id="show-diff">show-diff</button>
                <table class="table">
                    <tbody>
                    <tr v-repeat="q : diffData.addedQueries" class="added-query">
                        <td>+</td>
                        <td>{{q.name}}</td>
                        <td>{{q.group}}</td>
                        <td>{{q.targets}}</td>
                        <td>{{q.expression}}</td>
                    </tr>
                    <tr v-repeat="q : diffData.removedQueries" class="removed-query">
                        <td>-</td>
                        <td>{{q.name}}</td>
                        <td>{{q.group}}</td>
                        <td>{{q.targets}}</td>
                        <td>{{q.expression}}</td>
                    </tr>
                    <tr v-repeat="q : diffData.updatedQueries" class="updated-query">
                        <td>U</td>
                        <td>{{q.before.name}}</td>
                        <td>
                            <div class="updated-query-before">{{q.before.group}}</div>
                            <div class="updated-query-after">{{q.after.group}}</div>
                        </td>
                        <td>
                            <div class="updated-query-before">{{q.before.targets}}</div>
                            <div class="updated-query-after">{{q.after.targets}}</div>
                        </td>
                        <td>
                            <div class="updated-query-before">{{q.before.expression}}</div>
                            <div class="updated-query-after">{{q.after.expression}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="scripts/querychain.js"></script>
</body>
</html>
